{% extends "customer/base3.html" %}
{% load static %}
{% load humanize %}
{% block title %}
    <title>ประวัติการสั่งซื้อ</title>
{% endblock %}

{% block content %}

<div class="container">
    {% if not orders %}
        <div class="alert alert-danger" role="alert">
            <h3><b>ไม่มีประวัติการสั่งซื้อสินค้า</b></h3>
        </div>
    {% else %}
    <h1 align="center">ประวัติการสั่งซื้อ</h1>
    <div class="table-responsive">
        <table class="table table-condensed">
            <thead>
                <tr class="cart_menu">
                    <td>รหัสใบสั่งซื้อ</td>
                    <td>วันสั่งซื้อสินค้า</td>
                    <td>ยอดชำระเงิน</td>
                    <td>ดูรายการสินค้่า</td>
                </tr>
            </thead>
            <tbody>
                {% for item in orders %}
                <tr>
                    <td class="cart_price">
                        <p>{{item.id}}</p>
                    </td>
                    <td class="cart_total">
                        <p class="cart_total_price">{{item.create | date:"D d M Y"}}</p>
                    </td>
                    <td class="cart_total">
                        <p class="cart_total_price">{{item.total | intcomma}}</p>
                    </td>
                    <td class="cart_total">
                        <a href="{% url 'orderDetails' item.id %}" class="btn btn-success">รายละเอียดสินค้า</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>
  
  
{% endblock %}